<style>
p,h{
    color:white;
}
.container{   
    display:flex;
    width:90%;
    margin-top:100px;
    margin-left:auto; 
    margin-right:auto; 
    color:white;
    justify-content:space-between
  }
  .containerlast{   
    display:flex;
    width:45%;
    margin-top:100px;
    margin-bottom:100px;
    margin-left:5%; 
    margin-right:auto; 
    color:white;
    justify-content:space-between
  }
.label
{
  padding-top:20px;
  text-align:center;
  font-size:2vw;
  line-height:0.8em;
  font-family: 'Bebas Neue' ;
  color:white;
}
.mat-tab-group {
  width:100%;
  margin:auto;
  color:white;
  font-family: 'Bebas Neue' ;
  font-size: 0.5vw;
  top: 0;
}
::ng-deep  .mat-tab-labels .mat-tab-label-active {
  user-select:none;
  font-size:2vw;
}
:host ::ng-deep .mat-tab-header {
  top:50px;
  z-index: 100000; 
  position: sticky;
  position: -webkit-sticky; 
  background-color:black;  
}
@media screen and (max-width: 500px) {
  .label
{
  padding-top:20px;
  text-align:center;
  font-size:15px;
  line-height:0.8em;
  font-family: 'Bebas Neue' ;
  color:white;
}
}
</style>
  <mat-tab-group dynamicHeight animationDuration="2000ms"   (selectedTabChange)="onActivate($event)" (contextmenu)="onRightClick($event)">
    <mat-tab label="1-50">
      <div  class="container">
        <div  *ngFor="let c of collection.slice(0,4)">  
          <a  href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%" >
          </div>   
          <div class="label">
             {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(4,8)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
           {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(8,12)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(12,16)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
           {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(16,20)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(20,24)"> 
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white"> 
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(24,28)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(28,32)">
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">  
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
           {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(32,36)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(36,40)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
            <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(40,44)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
           {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(44,48)"> 
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white"> 
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast" >
        <div *ngFor="let c of collection.slice(48,50)"> 
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white"> 
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="50-100">
      <div class="container">
        <div *ngFor="let c of collection.slice(50,54)">
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">  
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(54,58)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
           {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(58,62)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(62,66)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(66,70)"> 
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white"> 
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(70,74)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
              <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
            {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(74,78)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(78,82)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(82,86)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(86,90)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(90,94)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(94,98)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(98,100)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="101-110 (Halloween Special)">
      <div class="container">
        <div *ngFor="let c of collection.slice(100,104)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(104,108)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(108,110)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="111-150">
      <div class="container">
        <div *ngFor="let c of collection.slice(110,114)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(114,118)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(118,122)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(122,126)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(126,130)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(130,134)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(134,138)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(138,142)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(142,146)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container" style="margin-bottom:100px;">
        <div *ngFor="let c of collection.slice(146,150)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="151-200">
      <div class="container">
        <div *ngFor="let c of collection.slice(150,154)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(154,158)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(158,162)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(162,166)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(166,170)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(170,174)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(174,178)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(178,182)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(182,186)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(186,190)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(190,194)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(194,198)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(198,200)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="200-251">
      <div class="container">
        <div *ngFor="let c of collection.slice(200,204)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(204,208)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(208,212)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(212,216)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(216,220)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(220,224)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(224,228)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(228,232)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(232,236)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(236,240)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(240,244)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(244,248)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(248,250)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="251-300">
      <div class="container">
        <div *ngFor="let c of collection.slice(250,254)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(254,258)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(258,262)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(262,266)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(266,270)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(270,274)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(274,278)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(278,282)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(282,286)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(286,290)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(290,294)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(294,298)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(298,300)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="301-350">
      <div class="container">
        <div *ngFor="let c of collection.slice(300,304)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(304,308)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(308,312)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(312,316)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(316,320)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(320,324)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(324,328)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(328,332)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(332,336)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(336,340)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(340,344)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(344,348)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(348,350)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="350-400">
      <div class="container">
        <div *ngFor="let c of collection.slice(350,354)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(354,358)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(358,362)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(362,366)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(366,370)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(370,374)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(374,378)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(378,382)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(382,386)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(386,390)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(390,394)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let c of collection.slice(394,398)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
      <div class="containerlast">
        <div *ngFor="let c of collection.slice(398,400)">  
          <a href={{c.link}}  target="_blank" rel="noopener" style="text-decoration:none;color:white">
          <div>
                <img  class ="item" alt={{c.id}} src= {{c.url}} style="width:90%">
          </div>   
          <div class="label">
              {{c.id}}
          </div></a>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
